.recipe {
    width: 100%;
    height: auto;
    margin: 12px 0;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 10px 30px #d6d6d6;
    transition: all .5s ease-in-out;
}

.recipe-name {
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.recipe-disc {
    color: #0e0a07;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

.lg-image {
    width: 100%;
    height: auto;
}

