@import './components/header.css';
@import './components/recipes.css';
@import './components/button.css';
@import './components/category.css';
@import './components/fulldetail.css';
@import './components//detail-modal.css';

body {
    margin: 0;
    padding: 0;
    color: #0e0a07;
    font-size: 13;
    font-weight: normal;
    font-family: 'Merienda', cursive;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}